[Unit]
Description=example systemd service unit file.

[Service]
ExecStart=/bin/bash /usr/home/vastinstall/MaxFans.sh

[Install]
WantedBy=multi-user.target
